html {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  background-color: #c9b5ab;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'PT Serif', serif;
*/

h1, h2 {
  font-family: "PT Sans", serif;
  font-size: 1.5rem;
  font-weight: normal;
  color: #3f1622;
}

img {
  width: 100%;
}

figure {
  padding: 0;
  margin: 0;
}

figcaption {
  font-size: .8em;
  font-style: italic;
  font-family: "PT Serif", serif;
}

header {
  background-color: #c9b5ab;
  color: #222;
}

header a {
  color: #8f2440;
  text-decoration: none;
}

.title {
  color: #3f1622;
}

.main-content {
  background-color: #c9b5ab;
  max-width: 40em;
  margin: 0 auto;
  display: block;
  padding: 1em;
}

.main-content img {
  width: 90%;
}

.first-child {
  font-size: 1rem;
  font-weight: normal;
  font-family: "PT Serif", serif;
}

.seperate {
  font-size: 1em;
  font-weight: bold;
}

.stylish-beets {
  float: left;
  width: 30%;
  margin: 0 1em 0 0;
}

ol {
  list-style-type: none;
  padding: 0;
}

ol li {
  margin: 0 1em;
  font-family: "PT Sans", sans-serif;
}

strong {
  font-weight: normal;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #222;
  text-decoration: underline;
}

.quote {
  font-size: 1.5rem;
  font-style: italic;
  font-family: "PT Serif", serif;
  text-align: center;
}

cite {
  font-family: "PT Serif", serif;
  text-align: left;
  font-size: 1em;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
  font-weight: lighter;
}

small {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 0 1em;
  padding: 0 1em;
  font-weight: normal;
  font-style: normal;
  font-family: "PT Serif", serif;
  font-size: .8rem;
  list-style: circle;
}

footer {
  font-weight: normal;
  font-style: normal;
  font-family: "PT Serif", serif;
  font-size: .7rem;
}
