html {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.5;
  background-color: #c9b5ab;
}

*, *::before, *::after {
  box-sizing: inherit;
}

grid-template-rows
grid-template-columns-

/*
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
*/

img {
  width: 100%
}

figure {
  padding: 0;
  margin: 0;
}

figcaption {
  font-size: .8em;
  font-style: italic;
  font-family: 'PT Serif', serif;
}

header {
  background-color: #c9b5ab;
  color: #222;
}

header a {
  color: #8f2440;
  text-decoration: none;
}

.title {
  color: #3f1622
}

.main-content {
  background-color: #c9b5ab;
  max-width: 40em;
  margin: 0 auto;
  display: block;
  padding: 1em;
}

.main-content img {
  width: 100%;
}

.stylish-beets {
  float: left;
  width: 30%;
  margin: 0 1em 0 0;
}

ol {
  list-style-type: none;
  padding: 0;
}

ol li {
  margin: 0 1em;
  font-family: 'PT Sans', sans-serif;
}

strong {
  font-weight: normal;
}
